<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    mwc-textarea {
        margin-top:1em;
        margin-bottom:1em;
        width: 75vw;
        height: 20em;
        min-width: 25em;
    }
    mwc-dialog {
        --mdc-dialog-min-width: 75vw;
    }
    mwc-dialog mwc-textarea {
        max-width: 75%;
        height: 15em;
    }
    mwc-dialog mwc-button {
        padding: 0.75em;
        border-style: solid;
        border-color: var(--mdc-theme-secondary);
        border-radius: 2em;
        background: var(--mdc-theme-secondary);
        color: var(--mdc-theme-on-secondary);
        cursor: pointer;
    }
</style>
<mwc-fab extended icon="volume_up" label="Play Announcement"></mwc-fab>
<h2>TODO: Add Translation Stuff</h2>
<h2>TODO: Add Announcement Generator & Saving</h2>
<h2>TODO: Refactor.</h2>
<div>
    <span>Time to close:</span><span id="timeToClose">TODO: Finish this.</span>
</div>
<mwc-textarea
    outlined
    label="Announcement"
    id="annForm"
    value="Hello and thank you for shopping at ${store}. ${store} will be closing ${time}. Please be ready to bring your selection up to the registers as they will be closing for software maintenance when the store closes. ${store} will be re-opening ${nextOpen} ${nextDayWord}. And once again, thank you for shopping at ${store}.">
</mwc-textarea>
<mwc-dialog id="dialog" heading="Announcer">
    <mwc-formfield label="Time 'Till Close">
    </mwc-formfield>
    <mwc-slider id="timeRemaining" discrete withtickmarks max="65" step="5"></mwc-slider>
    <mwc-textarea
        outlined
        readonly
        id="annReader">
    </mwc-textarea>
    <mwc-button
      id="primary-action-button"
      slot="primaryAction">
      Play
    </mwc-button>
    <mwc-button
      slot="secondaryAction"
      dialogAction="close">
      Cancel
    </mwc-button>
  </mwc-dialog>