<link rel="stylesheet" href="./css/time.css">
<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    main div.list {
        max-width: 95vw;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    #normal {
        width: 30em;
        margin-top: 1em;
    }
    #holiday {
        width: 36.5em;
        margin-top: 1em;
    }
    main div.list > div {
        align-content: space-between;
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 0.3em;
    }
    main div.list > div > span {
        line-height: 1.5em;
    }
    mwc-textfield[type=time]{
        width: 9em;
    }
</style>
<h2>TODO: Add Hydration</h2>
<h2>Saves when edited.</h2>
<mwc-select id="startOn" label="Week starts on">
    <mwc-list-item value="sunday">Sunday</mwc-list-item>
    <mwc-list-item value="monday">Monday</mwc-list-item>
</mwc-select>
<div id="normal" class="list">
    <div>
        <span>Monday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Tuesday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Wednsday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Wednsday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Wednsday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Wednsday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
    <div>
        <span>Wednsday</span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox></mwc-checkbox>
          </mwc-formfield></span>
    </div>
</div>
<!--
<h2>TODO: Add Hydration of Holiday</h2>
<h2>Holiday Hours:</h2>
<div id="holiday" class="list">
    <div>
        <span><mwc-textfield outlined label="Opening" type="date" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Opening" type="time" step="60" value="10:00" required></mwc-textfield></span>
        <span><mwc-textfield outlined label="Closing" type="time" step="60" value="22:00" required></mwc-textfield></span>
        <span><mwc-formfield label="Closed">
            <mwc-checkbox checked></mwc-checkbox>
          </mwc-formfield></span>
        <span><mwc-icon-button raised icon="highlight_off"></mwc-button></span>
    </div>
</div>
<div>
    <mwc-icon-button raised label="Add Holiday Hours" icon="add_circle"></mwc-button>
</div>
-->