<link rel="stylesheet" href="./css/time.css">
<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    main mwc-list {
        max-width: 95vw;
        width: 30em;
    }
    main mwc-list-item {
        align-content: space-between;
    }
</style>
<h1>For the moment, default *should* be set to english.</h1>
<h1>This works on desktop but not on my phone?</h1>
<mwc-list id="voices">
</mwc-list>
<mwc-dialog id="dialog" heading="Edit Voice">
    <mwc-formfield label="Name">
        <mwc-textfield id="name" outlined required readonly value=""></mwc-textfield>
    </mwc-formfield>
    <br />
    <mwc-button raised id="TempFix1">TempFix</mwc-button>
    <mwc-select
        id="synths"
        required
        validationMessage="This Field is Required"
        label="required (error)">
        <mwc-list-item selected></mwc-list-item>
    </mwc-select>
    <br />
    <mwc-formfield label="Lang Code">
        <mwc-textfield id="langCode" outlined readonly value=""></mwc-textfield>
    </mwc-formfield>
    <br />
    <mwc-button
      id="sayTestSentence">
      TestVoice
    </mwc-button>
    <br />
    <mwc-button
      id="primary-action-button"
      slot="primaryAction">
      Save
    </mwc-button>
    <mwc-button
      slot="secondaryAction"
      dialogAction="close">
      Cancel
    </mwc-button>
    <mwc-button
      slot="secondaryAction"
      id="deleteVoice">
      Delete
    </mwc-button>
  </mwc-dialog>
  <mwc-snackbar id="testSpeech" labelText="Testing Speech">
  </mwc-snackbar>