<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    main div.list {
        max-width: 95vw;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    #normal {
        width: 30em;
        margin-top: 1em;
    }
    #holiday {
        width: 36.5em;
        margin-top: 1em;
    }
    main div.list > div {
        align-content: space-between;
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 0.3em;
        height: 3em;
    }
    main div.list > div > span {
        line-height: 1.5em;
    }
    main mwc-button {
        padding: 0.75em;
        border-style: solid;
        border-color: var(--mdc-theme-secondary);
        border-radius: 2em;
        background: var(--mdc-theme-secondary);
        color: var(--mdc-theme-on-secondary);
        cursor: pointer;
    }
</style>
<div id="normal" class="list">
    <div>
        <span><mwc-textfield id="storeName" outlined label="Store Name" required></mwc-textfield></span>
    </div>
    <div>
        <span>
            <mwc-button id="save">
              Save
              <mwc-ripple primary></mwc-ripple>
            </mwc-button>
        </span>
    </div>
</div>


<mwc-snackbar id="savedSnackbar"
              labelText="Saved!">
</mwc-snackbar>
<mwc-snackbar id="saveErrorSnackbar"
              labelText="Error while saving :(">
</mwc-snackbar>