<link rel="stylesheet" href="./css/time.css">
<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    main mwc-list {
        max-width: 95vw;
        width: 30em;
    }
    main mwc-list-item {
        align-content: space-between;
    }
</style>
<mwc-list id="languages">
</mwc-list>
<!--
    Original: edit
    Working: done
    Dev: warning
    No: dangerous
-->