@media only screen and (max-width: 510px) {
    html {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 470px) {
    html {
        font-size: 0.80rem;
    }
}
@media only screen and (max-width: 430px) {
    html {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 400px) {
    html {
        font-size: 0.70rem;
    }
}

html {
    --mdc-theme-primary: #9400ff;
    --mdc-theme-secondary: #ff5252;
    --mdc-theme-surface: #ffffff;
    --mdc-theme-background: #ffffff;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
    --mdc-theme-on-surface: #000000;
    user-select: none;
    font-family: DejaVu Sans;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}
body {
    margin:0;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}
main.main-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
mwc-list-item[noninteractive] {
    background: #607d8b;
    color: var(--mdc-theme-on-primary);
}
mwc-fab {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 1;
}
#title {
    text-transform: capitalize;
}
mwc-button {
    color: var(--mdc-theme-secondary);
    cursor: pointer;
}
mwc-top-app-bar-fixed mwc-icon {
    color: var(--mdc-theme-on-primary);
    font-size: var(--mdc-typography-headline6-font-size, 2rem);
    line-height: var(--mdc-typography-headline6-line-height, 2rem);
    padding: 0.25em;
}