<link rel="stylesheet" href="./css/time.css">
<style>
    .mdc-floating-label--required::after {
        content:"";
    }
    main.main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2 {
        margin-bottom: 0;
    }
    main mwc-list {
        max-width: 95vw;
        width: 30em;
    }
    main mwc-list-item {
        align-content: space-between;
        justify-content: flex-end;
    }
    mwc-textfield[type=time]{
        width: 9em;
    }
</style>
<mwc-list id="normal" noninteractive="">
    <mwc-list-item>
        <span>Monday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Tuesday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Wednsday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Wednsday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Wednsday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Wednsday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
    <mwc-list-item>
        <span>Wednsday</span>
        <span><mwc-textfield label="Opening" type="time" step="60" required></mwc-textfield></span>
        <span><mwc-textfield label="Closing" type="time" step="60" required></mwc-textfield></span>
    </mwc-list-item>
</mwc-list>