<div class="app">
    <div class="panel panel--from">
      <label>
        From
        <select id="lang-from" name="from" class="lang-select"></select>
      </label>
      <textarea id="input" name="input"></textarea>
    </div>
    <button class="swap" title="swap">↔️</button>
    <div class="panel panel--to">
      <label>
        To
        <select id="lang-to" name="to" class="lang-select"></select>
      </label>
      <div id="output" class="output-area"></div>
    </div>
    <div class="footer" id="status"></div>
  </div>